@import "tailwindcss";

@theme {
  --color-on-surface: #fafafa;
  --color-on-error-container: #fca5a5;
  --color-error: #ef4444;
  --color-primary-container: #7c3aed;
  --color-tertiary-container: #065f46;
  --color-surface-container-high: #18181b;
  --color-surface-container: #121215;
  --color-on-primary-fixed: #2e1065;
  --color-on-tertiary-container: #bbf7d0;
  --color-on-primary-fixed-variant: #5b21b6;
  --color-surface-container-lowest: #09090b;
  --color-surface-variant: #18181b;
  --color-surface-container-highest: #1e1e22;
  --color-on-primary-container: #ede9fe;
  --color-error-container: #3b1111;
  --color-on-background: #fafafa;
  --color-on-tertiary: #001a12;
  --color-primary: #a78bfa;
  --color-on-tertiary-fixed-variant: #047857;
  --color-primary-fixed: #ede9fe;
  --color-inverse-surface: #fafafa;
  --color-inverse-primary: #5b21b6;
  --color-outline: #52525b;
  --color-surface-tint: #a78bfa;
  --color-outline-variant: #27272a;
  --color-on-secondary-fixed-variant: #3f3f46;
  --color-tertiary-fixed-dim: #6ee7b7;
  --color-secondary-fixed: #a1a1aa;
  --color-on-secondary: #09090b;
  --color-on-surface-variant: #a1a1aa;
  --color-on-secondary-container: #a1a1aa;
  --color-surface: #0c0c0f;
  --color-secondary-fixed-dim: #71717a;
  --color-background: #09090b;
  --color-secondary-container: #27272a;
  --color-on-error: #1a0000;
  --color-inverse-on-surface: #09090b;
  --color-tertiary: #34d399;
  --color-surface-dim: #0c0c0f;
  --color-on-tertiary-fixed: #003318;
  --color-primary-fixed-dim: #c4b5fd;
  --color-surface-container-low: #0f0f12;
  --color-secondary: #71717a;
  --color-on-secondary-fixed: #18181b;
  --color-on-primary: #0a0012;
  --color-surface-bright: #18181b;
  --color-tertiary-fixed: #bbf7d0;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --font-family-headline: "Geist", sans-serif;
  --font-family-display: "Geist", sans-serif;
  --font-family-body: "Geist", sans-serif;
  --font-family-label: "Geist", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-family-body);
  height: 100vh;
  overflow: hidden;
}
